@tailwind base;
@tailwind components;
@tailwind utilities;

.landing {
  background-image: url("../public/assets/images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.552);
  height: 100vh;
  width: 100%;
}
